*.code-workspace
.vscode

myproms_db
*.db
*.bck

Mascot/myproms4emPAI.pl

myproms_shared/*

myproms_appli/html/data
myproms_appli/cgi-bin/mypromsVersions.cgi

myproms_data/banks/db_*
myproms_data/exploratory_data
myproms_data/gels
myproms_data/go
myproms_data/logs
myproms_data/pathway_data
myproms_data/peptide_data
myproms_data/quantification_data/project_*
myproms_data/spectrum_data
myproms_data/swath_lib
myproms_data/tmp
myproms_data/validation

